# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/dist

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode


# visual studio code
.history
*.log
functions/*
.temp/**

# umi
.umi
.umi-production
.umi-test

# screenshot
screenshot
.firebase

build

# Prevent JS files from being generated in locales
/src/locales/**/*.js
!/src/locales/**/*.d.ts

# 部署相关（不提交到仓库）
# 生产环境配置文件包含敏感信息，不应提交
.env.production
.env.local
.env.*.local

# 部署文档和配置可以提交，但是模板文件需要保留
# .env.production.template 保留在仓库中
# 宝塔部署指南.md 保留在仓库中
# nginx-bt.conf 保留在仓库中
# bt-deploy.sh 保留在仓库中
